<div class="modal fade" id="confirm-box" tabindex="-1" aria-labelledby="confirm-box-label" aria-hidden="true"
  >
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-box-label">{{heading}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <div class="app-button d-flex">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">No</button>
          <button type="button" class="btn btn-main ms-2" (click)="onSave()"
            data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
