<div class="sidebar-section">
  <div class="logo-section d-flex-center d-lg-flex border-bottom border-end fixed-top">
    <div class="logo d-flex-center">
      <i class="fa-solid fa-font-awesome"></i>
      <span>Nugget</span>
    </div>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-profile" *ngIf="false">
      <div class="profile-img">
        <div class="img">
          <span>
            <img src="/assets/profile/profile-img.png" alt="Profile" class="img-fluid">
          </span>
        </div>
      </div>
      <div class="profile-info">
        <span class="profile-title">{{'John' | uppercase}}</span> <br>
        <span class="profile-des">{{'General Manager' | uppercase}} </span>
      </div>
    </div>
    <div class="menu-list">
      <ul class="main-menu list-unstyled">
        <li *ngFor="let item of menuList;let i=index" class="menu-item" [routerLink]="item.routing" [routerLinkActive]="'active'" [attr.data-bs-toggle]="item.label==='Logout'?'modal':null" [attr.data-bs-target]="item.label==='Logout'?'#confirm-box':null">
          <a class="menu-link" (click)="onRoute(item.label)" >
            <div>
              <span class="sidebar-icon"><fa-icon [icon]="item.icon"></fa-icon></span>
            </div>
            <div>
              <span class="main-menu-label " [ngClass]="{'fw-bold':item.label==='Logout'}">{{item.label}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
