<div class="sidebar-section">
  <div class="logo-section d-flex-center d-lg-flex d-none border-bottom border-end fixed-top">
    <div class="logo d-flex-center">
      <i class="fa-solid fa-font-awesome"></i>
      <span>Nugget</span>
    </div>
  </div>
  <div class="sidebar-body">
    <div class="sidebar-profile" *ngIf="false">
      <div class="profile-img">
        <div class="img">
          <span>
            <img src="/assets/profile/profile-img.png" alt="Profile" class="img-fluid">
          </span>
        </div>
      </div>
      <div class="profile-info">
        <span class="profile-title">{{'John' | uppercase}}</span> <br>
        <span class="profile-des">{{'General Manager' | uppercase}} </span>
      </div>
    </div>
    <div class="menu-list p-4 ">
      <ul class="main-menu list-unstyled">
        <li *ngFor="let item of menuList;let i=index" class="menu-item">
          <a class="menu-link " (click)="onMenuToggle(i)" [routerLink]="item.routing" [routerLinkActive]="'active'">
            <span><fa-icon [icon]="item.icon"></fa-icon></span>
            <span class="main-menu-label ">{{item.label}}</span>
            <span class="ceret-icon" *ngIf="item.subMenu">
              <i class=" fa fa-angle-right " [ngClass]="{'fa-rotate-90':isMenuOpen[i]}"></i>
              <!-- <fa-icon [icon]="item.icon"></fa-icon> -->
            </span>
          </a>
          <ul class="sub-menu collapse" [ngClass]="{'show':isMenuOpen[i]}" *ngIf="item.subMenu">
            <li *ngFor="let subItem of item.subMenu;let i=index" class="menu-item">
              <a class="menu-link" (click)="onSubMenuToggle(i)" [routerLink]="subItem.routing"
                [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}">
                <span class="menu-label">{{subItem.label}}</span>
                <span class="ceret-icon " *ngIf="subItem.subMenu">
                  <i class="fa fa-angle-right " [ngClass]="{'fa-rotate-90':isSubMenuOpen[i]}"></i>
                </span>
              </a>
              <ul class="sub-menu collapse" [type]="'circle'" [ngClass]="{'show': isSubMenuOpen[i]}"
                *ngIf="subItem.subMenu">
                <li *ngFor="let subItem2 of subItem.subMenu;" class="menu-item">
                  <a class="menu-link">
                    <span class="menu-label">{{subItem2.label}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
