.page-body {
  transition: 0.2s;
  background-color: $gray-75;
  padding: 20px;
  min-height: calc(100vh - $max-header-height);
  position: relative;
  .page-header {
    padding: 20px 0;
    .breadcrumb{
      cursor: pointer;
      .breadcrumb-item.home{
        color: $primary;
      }
    }
  }
}
.page-title {
  font-weight: 600;
  font-size: 1.7rem;
}
.page-sub-title {
  font-size: 0.9rem;
  color: #777777;
  font-weight: 500;
}
