.my-card {
  .crud-btns {
    display: flex;
    font-size: 20px;
    span {
      cursor: pointer;
    }
    .edit-btn {
      color: #22af47;
    }
    .delete-btn {
      color: $primary-1;
    }
  }
}
