$primary-1: #ff8084;
$primary: #101828;
$warning: #ffbc58;
$success: #13c9ca;
$secondary: #a5a5a5;
$max-header-height: 80px;
$min-header-height: 60px;
$partation: 250px;
$icon: 30px;

$gray-900: #101828;
$gray-800: #1d2939;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98a2b3;
$gray-300: #c3c7d2;
$gray-200: #e2e4ea;
$gray-100: #f0f2f7;
$gray-50: #f7f9fc;
$gray-75: #f8f8f9;
$gray-25: #fcfcfd;
