/* You can add global styles to this file, and also import other style files */
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
$primary-1: #ff8084;
$primary: #101828;
$warning: #ffbc58;
$success: #13c9ca;
$secondary: #a5a5a5;
$max-header-height: 80px;
$min-header-height: 60px;
$partation: 250px;
$icon:30px;

@import "../src/assets/scss/main-panel";
